{% extends "base.html" %}

{% block content %}

<body>

<div>
	<h1 style="font-size:50px;" align="center"> About Us </h1>
</div>

<div>
	<p align = "center" style = "color : black"> Carlos' Computer Service is a small computer service company. I have over 15 years experience and have worked for companies such as Dell, HP/Compaq, Sony, IBM, World Wide Tech Services, and Tatung Intl. Recently I re-opened my online store. Categories include Collectibles, Cell Phone Accessories, Women’s/Men’s clothes, and more. 
	</p>
</div>

<br><hr><br>

<div>
	<h2 align = "center" style = "color : black"> Professional Customer Service	</h2> 
</div>

<div>
	<p align = "center" style = "color : black"> Our goal is to make sure we support you every step of the way. If there is an issue, our customer service staff are ready to help you over email or a phone call. We value your business!
	</p>

<br><hr><br>

<div>
	<h2 align = "center" style = "color : black"> Committed to Quality	</h2> 
</div>

<div>
	<p align = "center" style = "color : black"> We believe quality should never be a compromise. No matter what product you're looking for, we guarantee reliability. We want you to feel confident that your purchase is of the highest caliber.
	</p>

<br><hr><br>

<div>
	<h2 align = "center" style = "color : black"> 100% Satisfaction Guaranteed
	</h2> 
</div>

<div>
	<p align = "center" style = "color : black"> While shopping with us, we want you to be completely happy with the experience. If you have questions about us, our products, or even shipping, get in touch! We hope you continue to shop with us for many years to come. 
	</p>

<br>

</body>

{% endblock content %}