{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

header {
  background-color:lightblue;
  padding: 15px;
  text-align: center;
  font-size: 25px;
  color: black;

</style>

<header>
<nav>
<a href = "."> Home </a> |
<a href = "products"> Products </a> |
<a href = "blog"> Blog </a> |
<a href = "social"> Social </a> |
<a href = "about"> About </a> |
<a href = "contact"> Contact </a>
</nav>
</header>

</head>

</html>