{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Pay using PayPal" %}{% endblock %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
  </head>

  <body>
    <script src="https://www.paypal.com/sdk/js?client-id=Aa858i90OR3ckysyrEZ3sy5vchY2ZhP_JDg3dRBj4usjoy_1u2bY8SdHCueMhnv8uuQymIyMKVVS7kWl"> // Replace YOUR_CLIENT_ID with your sandbox client ID
    </script>

    <div align='center' id="paypal-button-container"></div>

    <!-- Add the checkout buttons, set up the order and approve the order -->
    <script>
      paypal.Buttons({
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: '0.01'
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          return actions.order.capture().then(function(details) {
            alert('Transaction completed by ' + details.payer.name.given_name);
          });
        }
      }).render('#paypal-button-container'); // Display payment options on your web page
    </script>
  </body>
</html>
{% endblock %}
